[submodule "engine/vendor/spdlog"]
	path = engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "engine/vendor/glad"]
	path = engine/vendor/glad
	url = https://github.com/Dav1dde/glad
[submodule "engine/vendor/imgui"]
	path = engine/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "engine/vendor/glm"]
	path = engine/vendor/glm
	url = https://github.com/g-truc/glm
