.idea/
CMakeFiles/
cmake-build-debug/
cmake-build-user/
build*/
cmake-build-*

doxygen.conf.out

*.cmake
Makefile
CMakeLists.txt.bak


# Project specific
*.obj
*\.obj
"sandbox/assets/models/World\\.obj"